<!DOCTYPE html>

  <div class="banner">
    <a routerLink="">
      <img src="https://library.brooklyn.cuny.edu/ait/images/banner.png">
    </a>
  </div>

      <nav class="navbar navbar-expand-sm navbar-dark">

        <a class="navbar-brand" routerLink="/">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bb/Brooklyn_College_Seal.svg/800px-Brooklyn_College_Seal.svg.png">
        </a>
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Contact</a>
          </li>
        </ul>

    </nav> 