<form [formGroup]="registrationForm" *ngIf="!submittedSurvey; else elseBlock" (ngSubmit)="surveySubmit()">

    <p class="instructions">Fill out the following survey and add additional questions if necessary</p>
        
        <div class="first-row">
                
            <div class="first-name">
                <mat-form-field class="first-name-full-width" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput [class.is-invalid]="firstName.invalid && 
                    firstName.touched" formControlName="firstName" required>

                    <mat-error *ngIf="firstName.invalid && firstName.touched">
                        <mat-error *ngIf="firstName.errors?.required" class="text-danger">First name is required</mat-error>
                        <mat-error *ngIf="firstName.errors?.pattern && !firstName.errors?.minlength" class="text-danger">First name cannot have digits</mat-error>
                        <mat-error *ngIf="firstName.errors?.minlength" class="text-danger">First name must have at least two letters</mat-error>
                    </mat-error>

                 </mat-form-field>

            </div>

            <div class="last-name">
                <mat-form-field class="last-name-full-width" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput [class.is-invalid]="lastName.invalid &&
                    lastName.touched" formControlName="lastName" required>
                   
                    <mat-error *ngIf="lastName.invalid && lastName.touched">
                        <mat-error *ngIf="lastName.errors?.required" class="text-danger">Last name is required</mat-error>
                        <mat-error *ngIf="lastName.errors?.pattern && !lastName.errors?.minlength" class="text-danger">Last name cannot have digits</mat-error>
                        <mat-error *ngIf="lastName.errors?.minlength" class="text-danger">Last name must have at least two letters</mat-error>
                    </mat-error>
                   
                </mat-form-field>
                    
            </div>

        </div>

        <div class="second-row">

            <div class="dob">

                <mat-form-field class="dob-full-width" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="myDatePicker" [class.is-invalid]="dob.invalid && 
                    dob.touched" formControlName="dob" required>
                    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #myDatePicker></mat-datepicker>

                    <mat-error *ngIf="dob.invalid && dob.touched">
                        <mat-error *ngIf="dob.errors?.required" class="text-danger">Birth date is required</mat-error>
                    </mat-error>

                </mat-form-field>

            </div>

            <div class="title">
                <mat-form-field class="title-full-width" appearance="outline">
                    <mat-label>Title for Survey</mat-label>
                    <input matInput [class.is-invalid]="title.invalid && 
                    title.touched" formControlName="title" placeholder="Ex: My Survey" required>

                    <mat-error *ngIf="title.invalid && title.touched">
                        <mat-error *ngIf="title.errors?.required" class="text-danger">Title is required</mat-error>
                        <mat-error *ngIf="title.errors?.minlength" class="text-danger">Title must have at least two characters</mat-error>
                    </mat-error>

                </mat-form-field>

            </div>

        </div>

        <div class="third-row">

            <div class="pos">
                <mat-form-field class="pos-full-width" appearance="outline">
                    <mat-label>Relation to college</mat-label>
                    <mat-select formControlName="position" required>
                        <mat-option *ngFor="let pos of positions" [value]="pos">
                            {{pos}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="position.hasError('required')">Position is required</mat-error>

                </mat-form-field>
            </div>

        </div>

        <div class="btn-row"> 
            <button mat-flat-button type="button" (click)="addPair()" style="background-color: rgba(165, 84, 84, 0.89); color: white;">Add custom Q/A pair</button>
        </div>
            
        <div formArrayName="customSurveyPairs" 
            *ngFor="let customSurveyPair of pair.controls; let i = index">

            <div class="custom-section" [formGroupName]="i">
                <mat-form-field class="custom-q-full-width" appearance="outline">
                    <mat-label>Question</mat-label>
                    <input matInput formControlName="question" required>
                </mat-form-field>
                <mat-form-field class="custom-a-full-width" appearance="outline">
                    <mat-label>Answer</mat-label>
                    <input matInput formControlName="answer" required>
                </mat-form-field>
            </div>

        </div>

        <div class="btn-row">
            <button mat-flat-button [disabled]="!registrationForm.valid" type="submit" color="warn">Submit</button>
        </div>

</form>

<ng-template #elseBlock>
    <p class="confirm-msg">Thank you. Your survey responses have been submitted.</p> 
</ng-template>


{{ registrationForm.value | json }}