<!DOCTYPE html>
    <head><link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1"></head>
    <app-header></app-header>         

    <br>

    <div class="btn-set">
        <button mat-raised-button (click)="showTable()" class="btn btn-outline-danger">Display Table</button>
        <button mat-raised-button (click)="makeNewSurvey()" class="btn btn-outline-danger">Create a New Survey</button>
        <button mat-raised-button (click)="editSurvey()" class="btn btn-outline-danger">Edit an Existing Survey</button>
        <button mat-raised-button (click)="deleteSurvey()" class="btn btn-outline-danger">Delete a Survey</button>
        <button mat-raised-button (click)="findSurvey()" class="btn btn-outline-danger">Find a Survey</button>
    </div>

    <br>

    <router-outlet></router-outlet>
    
    <div class="bottom-space"></div>