<app-surveys-buttons></app-surveys-buttons>

<mat-form-field class="search-field">
  <input (keyup)="filter($event.target.value)" matInput placeholder="Search">
</mat-form-field>

  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Survey Title</th>
      <td mat-cell *matCellDef="let survey"> {{survey.title}} </td>
    </ng-container>

    <ng-container matColumnDef="question_1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Question 1</th>
      <td mat-cell *matCellDef="let survey"> {{survey.question_1}} </td>
    </ng-container>

    <ng-container matColumnDef="question_2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Question 2</th>
      <td mat-cell *matCellDef="let survey"> {{survey.question_2}} </td>
    </ng-container>

    <ng-container matColumnDef="question_3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Question 3</th>
      <td mat-cell *matCellDef="let survey"> {{survey.question_3}} </td>
    </ng-container>

    <ng-container matColumnDef="edit_del">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>Edit/Delete</th>
      <td mat-cell *matCellDef="let survey">  
        <button mat-icon-button type="button" (click)="editSurvey(survey.id)" id="edit_btn">
          <span class="material-icons">
            edit
          </span>
        </button> 
        <button mat-icon-button type="button" (click)="deleteDialog(survey.id)" id="del_btn">
          <span class="material-icons">
            delete
          </span>
        </button>   
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25]"
                  showFirstLastButtons>
  </mat-paginator>

</div>


